.header__lang-link_language_ru {
  width: 30px;
  text-decoration-line: underline;
  position: absolute;
  right: 47px;
}

@media screen and (max-width: 320px) {
  .header__lang-link_language_ru {
    width: 22px;
    right: 40px;
  }
}
