.cover__subtitle {
  width: 30.4%;
  margin: 0;
  top: 57.97%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  z-index: 3;
}
