.footer__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 767px) {
  .footer__conteiner {
    margin-left: 16px;
    flex-direction: column;
    gap: 48px;
    align-items: start;
  }
}
