.intro__container {
  width: 690px;
}

@media screen and (max-width: 1023.99px) {
  .intro__container {
    width: 720px;
  }
}

@media screen and (max-width: 767.99px) {
  .intro__container {
    width: 288px;
  }
}
