.intro {
  width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1279.99px) {
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 1023.99px) {
  .intro {
    width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767.99px) {
  .intro {
    width: 288px;
    margin-top: 64px;
  }
}

