.cover__title {
  width: 47.3%;
  top: 33.1%;
  margin: 0 ;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  z-index: 3;
}
